/* Styling Foreword:
I wanted to embody a similar energy to Palat Tuntaopas' Portfolio in my website design.
Therefore, for inspiration and reference, I had inspeted and viewed the source code behind 
the website to get an understanding on how the website built up.
Stylistically, similar bold colours had been used to convey that bright maximalist energy.
Font wise, the same 'Cube' font seen in Tuntaopas' portfolio had been used as header 1, as 
a statement font. All other texts use Open Sans (sourced from Google Fonts) for high 
readability and clean cut design.
I also wanted to bring in some of the interaction design of Tuntaopas that I found the most 
satisfying and interesting, though limited due to using only html and css. 

I want to try create a website that combines both my own design aethetic and Tuntaopas', a 
design choice which runs a fine line between maxinalist and minimalist. Fun but functional.
 */

/* GLOBAL ---------------------------------------------------------------------------*/
* {
  background-color: #cef846;
  /* global font montserrat */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* fonts */
@font-face {
  font-family: Cube; /* Name font family */
  src: url("fonts/cube.ttf"); /* Locate the .ttf file within directory*/
}

/* BLOCK STYLING --------------------------------------------------------------------*/
/* Header block styling */
.header {
  text-align: center;
  padding-top: 6%;
  margin-left: 15%;
  margin-right: 15%;
}

/* body block styling */
.body {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 200px;
}

/* footer block styling */
.footer {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 200px;
}

/* TEXT STYLE GUIDE ---------------------------------------------------------------*/
/* HEADER 1 */
h1 {
  font-size: 2.8rem;
  font-weight: 800;
  /* different font: Cutive */
  /* font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal; */

  font-family: "Cube";

  color: #0d3dfc;
  text-align: left;
  padding-left: 10%;
  text-transform: uppercase;

  line-height: 1;
}

h1:hover {
  text-transform: lowercase;
}

/* HEADER 2 */
h2 {
  /* text style */
  text-transform: uppercase;
  font-kerning: normal;
  line-height: 1;
  font-size: 1.2rem;
  color: #0d3dfc;
  text-align: left;
  /* font */
  font-family: "Gruppo", sans-serif;
  font-weight: 300;
  font-style: normal;

  /* layout */
  padding-left: 10%;
  padding-bottom: 100px;
}

/* HEADER 3 */
h3 {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f839e5;
  text-align: left;
}

/* h3:hover {
  color: #0d3dfc;
  font-size: 1.1rem;
} */

/* paragraph */
p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #2e2e2e;
  line-height: 1.5;
  text-align: left;
}

/* p:hover {
  font-weight: 600;
} */

.footer-p {
  font-size: 0.7rem;
  text-align: center;
  color: #f839e5;
}

/* HYPERLINKS -------------------------------------------------------------------*/
a {
  color: #0d3dfc;
  font-weight: 300;
  line-height: 3;
}

a:hover {
  color: #f839e5;
  font-weight: 400;
}

/* IMG BORDER -------------------------------------------------------------------*/
.border {
  border-width: 1px;
  border-style: dotted;
  color: #a0bf37;
}

/* IMG --------------------------------------------------------------------------*/
.image {
  border-width: 1px;
  border-style: dotted;
  color: #a0bf37;
  max-width: 90%;
  display: inline-block;
}

/* FLEX TABLE -------------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
  margin-top: auto;
  text-align: center;
  padding-bottom: 80px;
}

.column {
  flex: 1;
}

/* BLOCK INTERACTION ----------------------------------------------------------*/
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* COLUMN ----------------------------------------------------*/
.box-col {
  margin-bottom: 80px;
}

.box-col:hover {
  position: relative; /* allow for contents to adjust when hover occurs */
  z-index: 0;
  padding: 3%;
  overflow: hidden; /* clipping content */
  /* flex style */
  display: flex;
  justify-content: center; /* pinning everything to center */
  align-items: center; /* pinning everything to center */
  flex-direction: column;
  /* gap: 40px; */

  /* movement */
  &::before {
    content: "";
    position: absolute; /* pins position of roating border */
    z-index: -5;
    /* box to create 'moving border' */
    width: 400%;
    height: 400%;
    background-repeat: no-repeat;
    background-size: 50% 50%; /* size of box */
    background-image: linear-gradient(
      #0d3dfc,
      #00c2cb
    ); /* gradient colour of border */
    animation: rotate 8s linear infinite; /* rotation */
  }

  &::after {
    content: "";
    position: absolute; /* pins position of roating border */
    z-index: -1;
    /* box style */
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    /* static bg */
    background: #cef846;
  }
}

/* ROW ------------------------------------------------------*/
.box-row {
  margin-bottom: 80px;
}

.box-row:hover {
  position: relative; /* allow for contents to adjust when hover occurs */
  z-index: 0;
  padding: 3%;
  overflow: hidden; /* clipping content */
  display: flex;
  justify-content: center; /* pinning everything to center */
  align-items: center; /* pinning everything to center */
  gap: 5%;

  /* moving border */
  &::before {
    content: "";
    position: absolute; /* pins position of roating border */
    z-index: -5;
    /* box to create 'moving border' */
    width: 400%;
    height: 400%;
    background-repeat: no-repeat;
    background-size: 50% 50%; /* size of box */
    background-image: linear-gradient(
      #0d3dfc,
      #00c2cb
    ); /* gradient colour of border */
    animation: rotate 8s linear infinite; /* rotation */
  }

  &::after {
    content: "";
    position: absolute; /* pins position of roating border */
    z-index: -1;
    /* box style */
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    /* static bg */
    background: #cef846;
  }
}
