button {
  border: none;
  max-width: 7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 450;
}

button :hover {
  scale: 0.95;
  transition: 5ms ease-in-out;
}

/* WINDOW ----------------------------------------------------------------------*/
.window {
  border: 0.1rem solid;
  border-color: var(--colour-black);
  width: 80%;
  z-index: 2;
  background-color: var(--colour-white);
  box-shadow: 0.15rem 0.15rem var(--colour-black);
}

/* container restraint holding folders */
.container {
  position: relative;
  width: 100%;
  height: 800px;
}

/* transformation when dragging folder  */
.drag {
  z-index: 100;
  transform: rotate(5deg);
  transition: 5ms ease-in-out;
}

.back-btn {
  cursor: pointer;
}

.back-btn:hover {
  scale: 0.95;
  transition: 5ms ease-in-out;
}
