/* BACKGROUND ----------------------------------------------------------------------*/
.starbg {
  position: fixed;
  z-index: -1;

  width: 100%;
  height: 100%;
}

/* WINDOW ----------------------------------------------------------------------*/
.window {
  border: 0.1rem solid;
  border-color: var(--colour-black);
  width: 80%;
  z-index: 2;
  background-color: var(--colour-white);
  box-shadow: 0.15rem 0.15rem var(--colour-black);
}

.creative-pourtfolio {
  width: 100%;
  margin-top: 10%;

  display: flex;
  justify-content: center;
}

.pourtfolio {
  display: flex;
  flex-direction: row;

  line-height: 1.5rem;
}

.folder-cont {
  padding: 15%;
  display: flex;
  column-gap: 5rem;
  justify-content: center;
}

.about {
  text-align: center;
  width: 100%;
  margin: 2rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.abouttxt {
  width: 100%;
}

.abtwindow {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
