/* GLOBAL PAGES STYLE ------------------------------------------------------------ */
/* info card */
.card {
  /* styling */
  position: absolute;
  top: 3rem;
  left: 1.3rem;
  padding: 2rem;
  width: 25%;
  background-color: var(--colour-white);
  opacity: 0.8;

  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  /* styling */
  width: 5rem;
  height: 5rem;
  background: var(--colour-4);
  border-radius: 50%;

  /* size of emoji */
  font-size: 2.5rem;

  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

p {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}

/* YOUTUBE VIDEO ------------------------------------------------------------- */
/* video styling */
.vid {
  position: fixed;

  height: 100%;
  width: 100%;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* JIWON */
.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* IMAGE GRID */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 50%;

  padding: 0 4px;
}
