* {
  background-color: dimgray;
  margin: 10%;

  /* global font montserrat */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: antiquewhite;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}
