/* Written by: Samantha Lugay
Student Number: s4087814 */
/* Style Foreword: 
As the study media player theme was chosen, I wanted to implement a chill and relaxation colour
scheme. With this in mind, I decided to implement a retro coffee colour scheme, with a contrasting 
blue as the highlight colour. I wanted the colour to have a relatively high contrast to show something
is 'active'. Given that it's a relaxation media player, I wanted the interface to have as little media 
controls as possible to limit distractions and encourage productivity. There is a focus mode available 
too which will remove all media controls and only showcase the visuals for some calming imagery 
psychological stimulation with studies showing people perform simple tasks better when they are in an 
optimal arousal state.(Nickerson, 2023) Following that idea, I've also incorporated buttons for
different visuals for users to select the one they'd prefer the most.

Inactive media controls have a lower opacity to add another layer of visual indication that the control
is not activated.

Optimal Arousal Theory: https://www.simplypsychology.org/what-is-the-yerkes-dodson-law.html
*/
/* ------------------------------------------------------------------------------------------- */
/* VARS */
/* main colour variables linked here so if colours need to be changed they're changed once only */

:root {
  --primary-bg-color: #eedcb0;
  --primary-text-color: #74412e;
  --alt-bg-color: #744127;
  --alt-text-color: #eedcb0;
  --highlight-color: #60a9a7;
}

/* GLOBAL STYLE */
* {
  /* global font montserrat */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  margin: 0;
  padding: 0;
}
/* Montserrat was chosen as a simple and high readability font. It will allow for accessibility
whilst keeping the design itself minimal and distraction minimal. */

/* ------------------------------------------------------------------------------------------- */
/* UNIVERSAL HTML BODY STYLE */
/* TEXT STYLE */
h1 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

/* BODY STYLE */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* HEADER STYLE */
header {
  background-color: var(--alt-bg-color);
  color: var(--alt-text-color);
  padding: 2%;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* FOOTERSTYLE */
footer {
  background-color: var(--alt-bg-color);
  color: var(--alt-text-color);
  padding: 2%;
  margin: 0;
  text-align: center;
  width: 100%;

  p {
    font-size: 0.7rem;
  }
}

/* SECTION STYLE */
section {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* BUTTON STYLE */
button {
  background-color: transparent;
  border: none;

  button:hover {
    transition: 0.4s;
  }
}

/* ------------------------------------------------------------------------------------------- */
/* CLASS STYLES */
/* Container for the main content */
.full-container {
  max-width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* DIV CONTENT STYLES */
/* VISUAL MEDIA */
.visual {
  max-width: 900px;
  width: 89%;
  aspect-ratio: 4/2.5;
  display: flex;
  justify-content: center;
}

/* VISUAL BUTTONS */
/* visual buttons container style */
.visual-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 150%;

  button:hover {
    background-color: var(--highlight-color);
    border: 1px solid;
    border-color: var(--highlight-color);
  }
}

/* visual button style */
.visual-btn-style {
  background-color: var(--primary-bg-color);
  padding: 7%;
  border-radius: 10%;
  border: 1px solid;
  border-color: var(--alt-bg-color);
}

/* MEDIA CONTROLS */
/* media controls container style */
.media-ctrl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  transition: 0.4s;
}

/* media controls when inactive */
.media-ctrl-inactive {
  opacity: 50%;
}

/* PROGRESS BAR */
/* progress bar container */
.progress-bar {
  width: 70%;
  height: 3px;
  background-color: var(--alt-bg-color);
  opacity: 75%;
  overflow: hidden;
  border-radius: 2%;

  padding-top: 0;
  padding-bottom: 0;
}

/* progress bar fill style */
.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--highlight-color);
  width: 0%;
  /* allow for smooth transition */
  transition: width 0.3s ease;
}

/* SONG NAME DISPLAY CONTAINER*/
.current-song {
  display: flex;
  justify-content: space-between;
}

/* OTHER GESTURES: playlist and focus mode */
/* continer */
.gestures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89%;

  button {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 80%;
    color: var(--primary-text-color);
  }

  button:hover {
    color: var(--highlight-color);
  }
}

/* playlist container */
.playlist {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: left;

  line-height: 2;
  color: var(--primary-text-color);
  white-space: pre-wrap;
}

/* playlist style */
.playlist span {
  font-size: 0.8rem;
  font-weight: 500;
}
